img {
    width: 200px;
}

.app-container {
    /* border: 1px solid rgb(38, 110, 192); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 200px auto 10px auto;
}

.title {
    color: var(--highlight);
    text-shadow: 1px 1px 2px var(--dark);
    margin-bottom: 20px;
}

.dice-container {
    display: flex;
    flex-direction: row;
}

.message-container {
    /* border: 1px solid gold; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: 1.3rem;
    text-align: center;
    color: var(--main);
}

.special-txt {
    color:var(--pos);
    text-shadow: 1px 1px 2px var(--dark);
}

