:root{
    --bg: #fff;
    --dark: #000;
    --main: #4169E1;
    --highlight: #ffee00;
    --lowlight: #5e5700;
    --pos: #1efd00;
    --neg: #ce0303;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.main-container {
    /* border: 1px solid red; */
    width: fit-content;
    margin: 100px auto;
}

.app-link-container {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--main);
    padding: 10px;
    width: 300px;
    height: auto;
}

ul {
    list-style-type: none;
}

.app-link {
    background-color: var(--main);
    border: none;
    color: var(--bg);
    font-size: 1rem;
    margin: 5px 0;
    padding: 10px 0;
    width: 300px;
    text-align: center;
    cursor: pointer;
}

.app-link:hover {
    background-color: var(--highlight);
    color: var(--lowlight);
}

.app-title-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: -6px;
}

.app-title-container-txt {
    color: var(--main);
}

.date-time {
    font-size: 1rem;
    color: var(--main);
}

.nav-bar {
    background-color: var(--main);
    padding: 5px 25px;
}

.nav-bar a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--bg);  
}

.nav-bar a:hover{
    color: var(--highlight);
}


.btn {
    margin: 10px;
    padding: 5px 20px;
    border: none;
    background-color: var(--main);
    font-size: 1.3rem;
    color: var(--bg);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--highlight);
    color: var(--lowlight);
}

.big-btn {
    border-radius: 10px;
    font-size: 3rem;
}