
body {
    background-color: rgb(201, 117, 117);
    display: flex;
    flex-direction: column;
}

.main-container {
    padding: 10px;
    position: relative;
    top: 250px;
}

#myText {
    display: none;
    font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
    font-size: 5rem;
    color: #f8d71c;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 20px;
}

.content {
    display: none;
    text-align: center;
    
}

#m-btn {
    display: block;
    background-color: #3b6080;
    color: white;
    font-size: 1.2rem;
    padding: 15px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

#m-btn:hover {
    background-color: #4c7ba3;
}

.reset-btn {
    background-color: #3b6080;
    color: white;
    font-size: 1.2rem;
    padding: 5px 15px;

}

.reset-btn:hover {
    background-color: #4c7ba3;
}

@media(max-width: 800px) {
    .content {
        text-align: center;
    }

    #myText {
        font-size: 2rem;
    }

    .reset-btn {
        margin-top: 20px;
        left: 0;
    }
}