
body {
    background-color: rgb(201, 117, 117);
    display: flex;
    flex-direction: column;
}

.main-container {
    padding: 10px;
    position: relative;
    top: 250px;
}

#myText {
    display: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 5rem;
    color: #f8d71c;
    text-shadow: 2px 2px 3px #000;
}

.content {
    display: none;
}

#m-btn {
    display: block;
    background-color: #3b6080;
    color: white;
    font-size: 1.2rem;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #000;
}

.reset-btn {
    position: relative;
    left: 85%;
    background-color: #3b6080;
    color: white;
    font-size: 1.2rem;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #000;
}