.main-container {
    padding: 10px;
    position: relative;
    top: 250px;
}

#myText {
    display: none;
    font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
    font-size: 5rem;
    color: var(--highlight);
    text-shadow: 1px 1px 1px var(--dark);
    margin-bottom: 20px;
}

.content {
    display: none;
    text-align: center;
    
}

#m-btn {
    display: block;
    background-color: var(--main);
    color: var(--bg);
    font-size: 1.2rem;
    padding: 15px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

#m-btn:hover {
    background-color: var(--highlight);
    color: var(--lowlight);
}

.reset-btn {
    background-color: var(--main);
    color: var(--bg);
    font-size: 1.2rem;
    padding: 5px 15px;

}

.reset-btn:hover {
    background-color: var(--highlight);
    color: var(--lowlight);
}

@media(max-width: 800px) {
    .content {
        text-align: center;
    }

    #myText {
        font-size: 2rem;
    }

    .reset-btn {
        margin-top: 20px;
        left: 0;
    }
}