
.number-disp p {
    text-align: center;
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px var(--dark);
    color: var(--highlight);
}

.btn {
    border: none;
    border-radius: 10px;
    color: var(--bg);
    background-color: var(--main);
    height: 2rem;
    width: 4rem;
    margin: 0px 10px;
    padding: 5px 5px;
    font-size: 1.2rem;
}

p {
    color: var(--main);
}