body {
    text-align: center;
}


.number-disp p {
    text-align: center;
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main);
}

.btn {
    border: none;
    border-radius: 10px;
    color: var(--bg);
    background-color: var(--main);
    height: 2rem;
    width: 4rem;
    margin: 0px 10px;
    padding: 5px 5px;
    font-size: 1.2rem;
}

p {
    color: var(--main);
}

.hide {
    display: block;
}

.interval-container {
    /* border: 1px solid red; */
    margin-top: 25px;
}

.input-label {
    margin-right: 10px;
}