*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 71, 71);
}

h1 {
    color: #FF3F33;
}

header {
    /* border: 1px solid red; */
    border-bottom: 2px solid #FF3F33;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    margin: 10px;
}

a {
    text-decoration: none;
    color:#33beff
}

a:hover {
    color: #1f84b3;
}

.sub-title {
    margin: 10px 20px;
    background-color: #1f84b3;
    border-radius: 15px;
    width: fit-content;
    padding: 2px 15px;
    color:#fff;
}

.main-container {
    margin: 65px auto;
    display: flex;
    justify-content: center;
    width: 90%;
}


.center-img {
    width: 80%;
    height: 250px;
    margin: 0 auto;
    background-image: url('/newThing/assets/nature-1.jpg');
    background-size: cover;
    background-position-y: -125px;
    background-repeat: no-repeat;
    padding: 10px;
}

.cta-text {
    color: #fff;
    font-size: 5rem;
}

section {
    border: 1px solid #aeb1c7;
    background-color: #f6f8ff;
    border-radius: 10px;
    margin: 10px 15px;
    padding: 15px;
}

.p-heading {
    margin:10px 0;
}

.footer {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    background-color: #40414b;
    color: #ddd;
}

.three-panes-footer {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.footer-section {
    margin: 10px 10px;
    padding: 15px;
}

.socials-container {
    margin: 25px;
}

.socials-links {
    display: flex;
    flex-direction: column;
}


