

.app-container {
    text-align: center;
    border: 1px solid var(--main);
    box-shadow: 1px 2px 5px #00000050;
    border-radius: 10px;
    width: fit-content;
    margin: 100px auto;
    padding: 10px;
}

.hide {
    display: none;
    visibility: hidden;
}

.title {
    font-size: 4rem;
    margin-bottom: 20px;
    color: var(--highlight);
    text-shadow: 1px 1px 1px #000;
}

.input-container {
    border: 1px solid blue;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    color: var(--main);
}

.cell {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.top {
    /* border: 1px solid red; */
    display: flex;

}

.bottom {
    /* border: 1px solid green; */
    display: flex;
}

label {
    font-size: 1.2rem;
}

.input {
    margin: 10px;
    font-size: 4rem;
    width: 250px;
    text-align: center;
}

.btn-container {
    border-bottom: 1px solid var(--main);
    padding: 5px 0 10px 0;
}

.results-container {
    border: 1px solid rgb(153, 166, 180);
    box-shadow: 1px 2px 5px #00000050;
    padding: 10px 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: right;
    width: fit-content;
    margin: 25px auto;
}

.results-txt {
    font-size: 4rem;
}

.results-txt {
    color: var(--main);
}

.green {
    color: #61c91c;
}
.yellow {
    color: #d1af19;
}
.red {
    color: #c72727;
}

